@use "../../styles/mixins.scss" as mixins;

.cta {
  text-align: center;
  background-image: url("../../images/bg-boost-desktop.svg"),
    linear-gradient(var(--dark-violet), var(--dark-violet));
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;

  @include mixins.respond(tab-pot) {
    padding: 6rem 0;
  }

  @include mixins.respond(phone-lg) {
    background-image: url("../../images/bg-boost-mobile.svg"),
      linear-gradient(var(--dark-violet), var(--dark-violet));
  }

  & h2 {
    color: white;
    font-size: 3.4rem;

    @include mixins.respond(tab-pot) {
      line-height: 1.5;
    }
  }

  &__button {
    font-size: 2rem;
    padding: 1.2rem 4rem;
  }
}
