@use "../../../styles/mixins.scss" as mixins;

.heading {
  padding: 10rem 0 4rem 0;
  width: 50%;
  margin: 0 auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include mixins.respond(tab-land) {
    padding: 8rem 0;
    width: 90%;
  }

  @include mixins.respond(phone-lg) {
    width: 100%;
    padding: 6rem 0;
  }

  & h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--very-dark-Blue);

    @include mixins.respond(tab-land) {
      font-size: 5rem;
    }

    @include mixins.respond(tab-pot) {
      font-size: 4.2rem;
    }

    @include mixins.respond(phone-lg) {
      font-size: 3rem;
    }
  }

  & p {
    color: var(--grayish-violet);
    line-height: 1.8;

    @include mixins.respond(tab-land) {
      font-size: 2rem;
    }
  }
}
